<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h5>Lançamentos</h5>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button [routerLink]="['/lancamento-details']" routerLinkActive="router-link-active" title="Novo Lançamento">
                    <ion-icon name="add-circle" size="large" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="!lancamentos.length && !showCard">
        <ion-item *ngFor="let item of [0, 1, 2, 3]">
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="showCard && !lancamentos.length">
        <img src="../../assets/img-app-saude-lancamentos.jpg" class="image--background" />
        <ion-card-header>
            <ion-card-subtitle>Movimentação</ion-card-subtitle>
            <ion-card-title>Lançamentos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Para efetuar um lançamento clique no botão (+) no topo da página. Para editar ou excluir um lançamento da lista, deslize para a esquerda.</p>
        </ion-card-content>
    </ion-card>

    <div>
        <br/>
        <ion-list>
            <ion-item-sliding *ngFor="let lancamento of lancamentos" button>
                <ion-item [routerLink]="['/lancamento-details', lancamento.id]" routerLinkActive="router-link-active">
                    {{ getNomeCliente(lancamento.idCliente) }}
                    <ion-badge slot="end" color="success">{{ lancamento.valorContrato | currency }}</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option [routerLink]="['/lancamento-details', lancamento.id]" color="primary">Editar</ion-item-option>
                    <ion-item-option (click)="deleteLancamento(lancamento.id)" color="danger">Excluir</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

</ion-content>