<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                Lançamento
            </ion-title>
            <ion-buttons slot="end" *ngIf="!selectedLancamento">
                <ion-button (click)="novo()" title="Novo Lançamento">
                    <ion-icon name="add-circle" size="large" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngIf="listaLancamento.length < 1 && !selectedLancamento">
        <img src="../../assets/img-app-saude-lancamentos.jpg" class="image--background" />
        <ion-card-header>
            <ion-card-subtitle>Movimentação</ion-card-subtitle>
            <ion-card-title>Lançamento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Para efetuar um lançamento clique no botão (+) no topo da página. Para editar ou excluir um lançamento da lista, deslize para a esquerda.</p>
        </ion-card-content>
    </ion-card>

    <div *ngIf="!selectedLancamento">

        <p></p>
        <ion-list>
            <ion-item-sliding *ngFor="let lancamento of listaLancamento" button (click)="abrir(lancamento)">
                <ion-item>
                    {{ getNomeCliente(lancamento.idCliente) }}
                    <ion-badge slot="end" color="success">{{ lancamento.valorContrato | currency }}</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="abrir(lancamento)" color="primary">Editar</ion-item-option>
                    <ion-item-option (click)="excluir(lancamento)" color="danger">Excluir</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

    <div *ngIf="selectedLancamento">
        <ion-item>
            <ion-label position="stacked">Cliente *</ion-label>
            <ion-select placeholder="Selecione" id="cliente" value="{{ clienteId }}">
                <ion-select-option *ngFor="let cliente of listaClientes" value="{{ cliente.id }}">{{ cliente.nome }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Produto *</ion-label>
            <ion-select placeholder="Selecione" id="produto" value="{{ produtoId }}">
                <ion-select-option *ngFor="let produto of listaProdutos" value="{{ produto.id }}">{{ produto.nome }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Valor do Contrato *</ion-label>
            <ion-input type="number" id="valorContrato" value="{{ selectedLancamento.valorContrato }}"></ion-input>
        </ion-item>
        <ion-grid>
            <small>(*) Campos obrigatórios</small>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="dark" (click)="voltar()">Cancelar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="success" (click)="salvar(selectedLancamento)">Salvar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>


</ion-content>