<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Relatório
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Relatório</ion-title>
        </ion-toolbar>
    </ion-header>

    <p></p>
    <ion-button expand="block" color="warning" fill="solid" size="small" (click)="apurar()">
        <ion-icon name="calculator"></ion-icon> EFETUAR APURAÇÃO
    </ion-button>

    <div *ngIf="!apuracao" class="ion-text-center">
        <ion-icon name="list-sharp" color="light" class="apuracao-icon"></ion-icon>
        <p>Apuração não efetuada.</p>
    </div>

    <div *ngIf="apuracao">
        <ion-list-header>
            <ion-label>Total</ion-label>
            <ion-button>R$ {{ totalComissao }}</ion-button>
        </ion-list-header>

        <p></p>
        <ion-item-divider>
            <ion-label>
                Comissões
            </ion-label>
        </ion-item-divider>
        <ion-list>
            <ion-item *ngFor="let item of relatorio">
                <ion-label color="dark">
                    <h4>{{ item.nomeCliente }}</h4>
                </ion-label>
                <ion-note slot="end" color="dark">
                    <p>R$ {{ item.valorComissao }}</p>
                </ion-note>
            </ion-item>
        </ion-list>
    </div>

</ion-content>