<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h2>Relatório</h2>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <p></p>
    <ion-list>
        <ion-button expand="block" color="warning" fill="solid" (click)="apurar()">
            EFETUAR APURAÇÃO
        </ion-button>
    </ion-list>

    <div *ngIf="!apuracao" class="ion-text-center">
        <ion-card>
            <ion-card-content>
                Para efetuar a apuração clique no botão <b>EFETUAR APURAÇÃO</b>.
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="apuracao">
        <ion-list-header>
            <ion-label>Total</ion-label>
            <ion-button>R$ {{ totalComissao }}</ion-button>
        </ion-list-header>

        <p></p>
        <ion-item-divider>
            <ion-label>
                Comissões
            </ion-label>
        </ion-item-divider>
        <ion-list>
            <ion-item *ngFor="let item of relatorio">
                <ion-label color="dark">
                    <h4>{{ item.nomeCliente }}</h4>
                </ion-label>
                <ion-note slot="end" color="dark">
                    <p>R$ {{ item.valorComissao }}</p>
                </ion-note>
            </ion-item>
        </ion-list>
    </div>

</ion-content>