<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h2>Sobre</h2>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <img src="../../assets/img-app-saude.jpg" />
        <ion-card-header>
            <ion-card-subtitle>APPSaúde</ion-card-subtitle>
            <ion-card-title>A Aplicação</ion-card-title>
        </ion-card-header>
        <ion-card-content align="justify">
            <p>O APPSaúde é um aplicativo que gerencia as comissões dos corretores de planos de saúde.</p>
            <p>A aplicação permite o cadastramento de clientes, produtos e comissões para geração de um relatório com a movimentação.</p>
        </ion-card-content>
    </ion-card>

</ion-content>