<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Produtos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Produtos</ion-title>
            <ion-buttons slot="end" *ngIf="!selectedProduto">
                <ion-button (click)="novo()" title="Novo Produto">
                    <ion-icon name="add-circle" size="large" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="!selectedProduto">
        <ion-searchbar showcancelbutton=""></ion-searchbar>

        <ion-list>
            <ion-item *ngFor="let produto of listaProdutos" button (click)="abrir(produto)">
                {{ produto.nome }}
            </ion-item>
        </ion-list>

    </div>

    <div *ngIf="selectedProduto">
        <ion-item>
            <ion-label position="stacked">ID</ion-label>
            <ion-input disabled>{{ selectedProduto.id }}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Nome do Produto</ion-label>
            <ion-input type="text" id="nome" value="{{ selectedProduto.nome }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Percentual</ion-label>
            <ion-input type="number" id="percentual" value="{{ selectedProduto.percentual }}"></ion-input>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" color="dark" (click)="voltar()">Cancelar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="primary" (click)="salvar(selectedProduto)">Salvar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="danger" (click)="excluir(selectedProduto)">Excluir</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>


</ion-content>