<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h2>Mapa</h2>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="map-wrapper">
        <div id="map_center"></div>

        <div #map id="map"></div>
    </div>

</ion-content>