<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="clientes">
            <ion-icon name="people"></ion-icon>
            <ion-label>Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="produtos">
            <ion-icon name="cube-outline"></ion-icon>
            <ion-label>Produtos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lancamentos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Lançamento</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="relatorio">
            <ion-icon name="print-outline"></ion-icon>
            <ion-label>Relatório</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>