<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h2>Produtos</h2>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button [routerLink]="['/produto-details']" routerLinkActive="router-link-active" title="Novo Produto">
                    <ion-icon name="add-circle" size="large" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="!produtos.length && !showCard">
        <ion-item *ngFor="let item of [0, 1, 2, 3]">
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="showCard && !produtos.length">
        <img src="../../assets/img-app-saude-produtos.jpg" class="image--background" />
        <ion-card-header>
            <ion-card-subtitle>Cadastro</ion-card-subtitle>
            <ion-card-title>Produtos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Este é o cadastro dos planos de saúde comercializados.</p>
            <p>Para incluir um novo produto clique no botão (+) no topo da página. Para editar ou excluir um produto da lista, deslize para a esquerda.</p>
        </ion-card-content>
    </ion-card>

    <div>
        <ion-searchbar *ngIf="produtos.length" [(ngModel)]="nome" (ionChange)="filtrarItens()" (ionClear)="limparItens()" placeholder="Buscar"></ion-searchbar>

        <ion-list>
            <ion-item-sliding *ngFor="let produto of produtosFiltrados" button>
                <ion-item [routerLink]="['/produto-details', produto.id]" routerLinkActive="router-link-active">
                    {{ produto.nome }}
                    <ion-badge slot="end" color="danger">{{ '0.' + produto.percentual | percent:'1.2' }}</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option [routerLink]="['/produto-details', produto.id]" color="primary">Editar</ion-item-option>
                    <ion-item-option (click)="deleteProduto(produto.id)" color="danger">Excluir</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

</ion-content>