.image--background {
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    .image--background {
        opacity: 0.9;
        height: 50vh;
        object-fit: cover;
    }
}