<ion-content mode="ios">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                <h2>Clientes</h2>
            </ion-title>
            <ion-buttons slot="end" *ngIf="!selectedCliente">
                <ion-button (click)="novo()" title="Novo Cliente">
                    <ion-icon name="add-circle" size="large" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngIf="listaClientes.length < 1 && !selectedCliente">
        <img src="../../assets/img-app-saude-clientes.jpg" class="image--background" />
        <ion-card-header>
            <ion-card-subtitle>Cadastro</ion-card-subtitle>
            <ion-card-title>Clientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Este é o cadastro de clientes.</p>
            <p>Para incluir um novo cliente clique no botão (+) no topo da página. Para editar ou excluir um cliente da lista, deslize para a esquerda.</p>
        </ion-card-content>
    </ion-card>

    <div *ngIf="!selectedCliente">
        <ion-searchbar [(ngModel)]="nome" (ionChange)="filtrarItens()" (ionClear)="limparItens()" *ngIf="listaClientes.length > 0" placeholder="Buscar"></ion-searchbar>

        <ion-list>
            <ion-item-sliding *ngFor="let cliente of clientesFiltrados" button>
                <ion-item (click)="abrir(cliente)">
                    {{ cliente.nome }}
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="abrir(cliente)" color="primary">Editar</ion-item-option>
                    <ion-item-option (click)="excluir(cliente.id)" color="danger">Excluir</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

    <div *ngIf="selectedCliente">
        <ion-item>
            <ion-label position="stacked">Nome do Cliente *</ion-label>
            <ion-input type="text" id="nome" value="{{ selectedCliente.nome }}" placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Titular do Contrato *</ion-label>
            <ion-input type="text" id="titular" value="{{ selectedCliente.titular }}" placeholder="Titular"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input type="text" id="telefone" value="{{ selectedCliente.telefone }}" placeholder="Telefone"></ion-input>
        </ion-item>
        <ion-grid>
            <small>(*) Campos obrigatórios</small>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="dark" (click)="voltar()">Cancelar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="success" (click)="salvar(selectedCliente)">Salvar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>


</ion-content>